#loading {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 3;
  top: 0;
  bottom: 0;
  right: 0;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  display: none;
}
